%section.section{:style => "background-color: #eee;"}
  .container
    .row
      .col-sm
        %h4 
          Welcome,
          %strong #{ current_user.username }
      .col-sm
        %h3 All Products
      .col-sm
        %h4
          Today is
          %strong #{Time.now.strftime("%A")}

  .row.col-lg-12
    - @products.each do |item|
      .card{style: "width: 18rem;"}
        %img.card-img-top{alt: "...", src: item.images[0],}
        .card-body
          %h5.card-title #{item.title}
          %p.card-text #{item.description}
          %a.btn.btn-primary{href: "#"} #{item.price} £