%style
  :plain
    .gradient-custom {
      background: #f6d365;
      background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));
      background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1))
    }

%section.vh-100{style: "background-color: #f4f5f7;"}
  .container.py-5.h-100
    .row.d-flex.justify-content-center.align-items-center.h-100
      .col.col-lg-6.mb-4.mb-lg-0
        .card.mb-3{style: "border-radius: .5rem;"}
          .row.g-0
            .col-md-4.gradient-custom.text-center.text-white{style: "border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;"}
              %img.img-fluid.my-5{alt: "Avatar", src: "#{url_for(current_user.avatar)}", style: "width: 80px;"}/
              %h5 #{ current_user.email }
              %p #{ current_user.username }
              = link_to profile_path(:id => current_user.id), class: 'btn btn-primary' do
                %i.bi.bi-pencil-square
                  Edit
              &nbsp
              = link_to root_path, class: 'btn btn-primary' do
                %i.bi.bi-house-door-fill
                  Home
            .col-md-8
              .card-body.p-4
                %h6 Profile Information
                %hr.mt-0.mb-4/
                .row.pt-1
                  .col-6.mb-3
                    %h6 Email
                    %p.text-muted #{ current_user.email }
                  .col-6.mb-3
                    %h6 Phone
                    %p.text-muted #{ current_user.phone }

                .row.pt-1
                  .col-6.mb-3
                    %h6 Address
                    %p.text-muted #{ current_user.adress }
                  .col-6.mb-3
                    %h6 Country
                    %p.text-muted #{ current_user.country }
                .d-flex.justify-content-start
                  %a{href: "#!"}
                    %i.fab.fa-facebook-f.fa-lg.me-3
                  %a{href: "#!"}
                    %i.fab.fa-instagram.fa-lg
                %h6 Order History
                %hr.mt-0.mb-4/
                .row.pt-1
                  .col-6.mb-3
                    %h6 Order Count
                    %p.text-muted
                      #{ current_user.order.all.count } order
                      - if current_user.order.all.count >= 1
                        = link_to "see details", order_path(:details)




