!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title RubyECommerce
    %meta{content: "width=device-width,initial-scale=1", name: "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", defer: true
  %body
    - if notice
      %p.alert.alert-primary= notice
    
    - if alert
      %p.alert.alert-danger= alert
    
    = yield

    - if current_user
      = button_to 'Sign out', destroy_user_session_path, method: :delete, class: 'btn btn-danger'